<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionDatos.Settings1.cadenaConexion" connectionString="Data Source=192.168.1.102;Initial Catalog=ProyectoDesarrolloB;User ID=cliente;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="GestionDatos.Settings1.ConexionFreddy" connectionString="Data Source=.;Initial Catalog=ProyectoDesarrolloB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionDatos.Settings1.conexionGuillermo" connectionString="Data Source=.;Initial Catalog=ProyectoDesarrolloB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>